name: 06 - Cloudsmith OIDC Smoke Test
on: workflow_dispatch 
permissions: 
  contents: read
  id-token: write
jobs: 
  push_raw:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Cloudsmith CLI (OIDC)
        uses: cloudsmith-io/cloudsmith-cli-action@v2
        with:
          oidc-audience: "https://github.com/elifeyzaguler"   # only if your provider expects this audience
          oidc-namespace: 'elifeyza' # Your Cloudsmith Workspace
          oidc-service-slug: 'github-actions-7dyp' # Your Cloudsmith service account slug
          oidc-auth-only: 'true' # Ensures the action only performs authentication

      
      # - name: Authenticate with Cloudsmith via OIDC
      #   uses: cloudsmith-io/cloudsmith-cli-action@v1.0.3
      #   with:
      - name: Install Cloudsmith CLI
        shell: bash
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install cloudsmith-cli
          cloudsmith --version

      - name: Create test file
        shell: bash
        run: |
          mkdir -p dist
          echo "hello from github actions at $(date)" > dist/hello.txt

      - name: Push to cloudsmith (raw)
        run: cloudsmith push raw elifeyza/my-first-repo dist/hello.txt