on:
  push:
    branches:
      - main

jobs: 
  hello_world_job:
    name: A job to say hello
    runs-on: ubuntu-latest

    steps:
      - name: Hello world action step
        id: hello
        uses: elifeyzaguler/hello-world-javascript-action@94229e0efcca774f3356216d536610f46f673be6
        with: 
          who-to-greet: Elif Feyza

      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"